<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= typeof blog !== 'undefined' ? blog.metaDescription : 'Default blog description' %>">
    <meta name="keywords" content="<%= typeof blog !== 'undefined' && blog.tags ? blog.tags.join(', ') : 'default, keywords' %>">
    <meta name="author" content="EditEdge Multimedia">

    <!-- ✅ Open Graph (Facebook, LinkedIn, etc.) -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%= typeof blog !== 'undefined' ? blog.title : 'Your Blog Name' %>">
    <meta property="og:description" content="<%= typeof blog !== 'undefined' ? blog.metaDescription : 'Default blog description' %>">
    <meta property="og:image" content="<%= typeof blog !== 'undefined' && blog.image ? blog.image : '/default-image.jpg' %>">
    <meta property="og:url" content="<%= typeof blog !== 'undefined' ? `https://yourwebsite.com/blogs/${blog.slug}` : 'https://yourwebsite.com' %>">
    
    <!-- ✅ Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= typeof blog !== 'undefined' ? blog.title : 'Your Blog Name' %>">
    <meta name="twitter:description" content="<%= typeof blog !== 'undefined' ? blog.metaDescription : 'Default blog description' %>">
    <meta name="twitter:image" content="<%= typeof blog !== 'undefined' && blog.image ? blog.image : '/default-image.jpg' %>">

    
    <title><%= title || "Edit Edge" %></title> 

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/images/logo.svg" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Nunito:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Font Awesome -->
   

    <!-- Mapbox GL JS -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.9.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.1/mapbox-gl.js"></script>

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Particles.js -->
    <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

    <link rel="stylesheet" href="/stylesheet/boilerplate.css">
   
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <!-- <script src="https://kit.fontawesome.com/d178a290ce.js" crossorigin="anonymous"></script> -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/yesiamrocks/cssanimation.io@1.0.3/cssanimation.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet"> -->
    <!-- <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</head>
<body>
    <div id="loader" class="loader">
        <img src="/images/eeloader.gif" alt="Loading..." class="loader-logo" />
      </div>
      
   
      <div id="content" style="visibility: hidden; opacity: 0; transition: opacity 0.5s ease;">
        <!-- Particles Background -->
        <!-- <div id="particles-js"></div> -->
    <!-- Header -->
    <header>
        <%- include('../partials/navbar') %>
    </header>
    <%- include('../partials/flash') %>
    <!-- Main Content -->
    <main class="container-fluid">
        
        <%- body %>
    </main>

    <!-- Footer -->
    <footer>
        <%- include('../partials/footer') %>
    </footer>
<!-- </div> -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
   

    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/yesiamrocks/cssanimation.io@1.0.3/letteranimation.min.js"></script>
   

    <script src="/javascript/boilerplate.js"></script>
</body>
</html>
